body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

footer {
    margin-top: auto;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
}

#gitHubLogo {
    height: 30px;
    width: 30px;
    margin: 13px;
}

footer>a {
    height: 0px;
    width: 0px;
}

#calculatorBody {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #8ed4d5;
    height: 510px;
    width: 380px;
    margin: 90px;
    border-radius: 15px;
    border: 2px inset black;
}

#calculatorScreenDiv {
    background-color: #D0D4CA;
    height: 78px;
    width: 340px;
    margin: 20px;
    margin-bottom: -5px;
    margin-top: 10px;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    border-radius: 5px;
    border: 2px inset black;
}

#calculatorScreen {
    margin: 10px 8px 10px 8px;
    font-size: 30px;
}

#calculatorButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #8bc4d0;
    margin: 10px;
    border-radius: 5px;
}

#numAndOprtrButtons {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    margin-top: 0px;
    gap: 10px;
}

#numAndOprtrButtons>div>button {
    height: 60px;
    width: 70px;
    font-size: 20px;
    border-radius: 6px;
}

#numAndOprtrButtons>#numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three columns */
    grid-template-rows: repeat(4, 1fr);
    /* Four rows */
    gap: 10px;
    /* Optional gap between items */
}

#clrAndBackSpcButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 15px;
    gap: 10px;
}

#clrAndBackSpcButtons>button {
    height: 60px;
    width: 150px;
    font-size: 20px;
    border-radius: 6px;
}

#clearButton {
    background-color: #FFCF96;
}

#backspaceButton {
    background-color: #FFEBD8;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.numberButtons {
    height: 50px;
    width: 50px;
    background-color: #fdfdf8;
}

#operators {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.operatorButtons {
    height: 50px;
    width: 50px;
    background-color: #c4a5cf;
}

#clearButton {
    height: 70px;
    width: 50px;
}

#backspaceButton {
    height: 70px;
    width: 50px;
}

#equals {
    background-color: #ecea86;
}